<div class="container">
  <div class="header">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-image src="https://cdn.icon-icons.com/icons2/851/PNG/512/Pokedex_tool_icon-icons.com_67529.png
        " alt="Image" width="64"></p-image>
        <span>POKE APP</span>
      </div>
      <div class="p-toolbar-group-end">
      </div>
    </p-toolbar>
  </div>
  <div class="content">
    <!-- Aquí puedes insertar tu componente principal -->
  </div>
  <div class="footer">
    <span>Desarrollado por <a href="https://lsystems.com.mx" target="_blank">lsystems</a></span>
  </div>
</div>